.input {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #e2e2e2;
}

.input.error {
  border-color: red;
  color: red;
}

.input.disabled {
  opacity: 0.5;
  pointer-events: none;
}