.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.App > form {
  display: flex;
  flex-direction: column;
}

.consent {
  padding: 16px 0;
}

.button {
  appearance: none;
  padding: 8px 16px;
  border: 1px solid #e2e2e2;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 12px;
}